.counterContainer{
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
}

.countSpan{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px solid white;
    border-radius: 15px;
    gap: 10px;
}

.counterBtn{
    font-size: 15px;
    font-weight: bold;
    background-color: #1c2f33;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
}

.counterBtn:hover{
    background-color: #2e5158;
}
