.cartWidgetContainer{
    display: flex;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.2rem;
}

.cartWidgetContainer a{
    text-decoration: none;
    color: white;
}