.itemCard{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    background-color: #1c2f33;
    gap: 15px;
}

.itemCardTitle{
    height: 25px;
    font-size: 20px;
    color: white;
}

.itemCard img{
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
}

.itemCardText{
    color: white;
}

.itemCardBtn{
    text-align: center;
    color: white;
    border: white solid 2px;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

.itemCardBtn:hover{
    background-color: #25464d;
}