.checkoutContainer{
  text-align: center;
}

.checkoutContainer form{
  margin: 15px auto 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #17272b;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkoutContainer form input
{
  color: white;
  padding: 10px;
  border: none;
  background-color: #25464d;
  border-radius: 5px;
}

.checkoutContainer form input::placeholder{
  text-align: center;
  color: gray;
}

.checkoutBtnEnabled{
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #227a8b;
  color: white;
  cursor: pointer;
}

.checkoutBtnEnabled:hover{
  background-color: #2397b1;
}

.checkoutBtnDisabled{
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #8ca8ad;
  color: white;
}

.orderCreatedCard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  background-color: #25464d;
  color: white;
  text-align: center;
}

.orderCreatedCard h1{
  font-size: 30px;
  margin: 0;
}

.orderCreatedCard p {
  font-weight: bold;
}

.orderCreatedCard button{
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #227a8b;
  color: white;
  cursor: pointer;
}

.orderCreatedCard button:hover{
  background-color: #2397b1;
}

.outStock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outStock h1{
  font-size: 30px;
}

.outStock button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #227a8b;
  color: white;
  cursor: pointer;
}

.outStock button:hover{
  background-color: #2397b1;
}